<!doctype html>
<html lang="en" ng-app="calc">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/app.css"/>

</head>
<body>

 <div ng-controller="calcController" ng-init="init()">
     <div class="container">
         <div class="row-fluid">
             <input class="span12" ng-model="result" id="result">
         </div>

                 <div class="leftContainer">
          <ul>
          <li ng-click="buttonClick(button)" ng-repeat="button in buttonArray | limitTo:12" class="btn"  >
          {{button.value}}
          </li>
           </ul>
                </div>
              <div class="rightContainer">
                  <ul>
          <li  ng-click="buttonClick(button)" ng-repeat="button in buttonArray | startFrom:12 " class="btn"  >
            {{button.value}}
          </li>
           <li class="btn big" ng-click="reset()">Clear</li>      </ul>
                
                  </div>
         <div class="clear"/>
         </div>


         </div>
 </div>

<di
  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
 <script src="js/jquery-1.9.1.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/calController.js"></script>
  <script src="js/buttonModel.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
