<!doctype html>
<html lang="en" ng-app="calc">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/app.css"/>

</head>
<body>

 <div ng-controller="calcController" ng-init="init()">
     <div class="container">
         <div class="row-fluid">
             <input class="span12" ng-model="result" id="result">
         </div>
     <ul class="row-fluid">
        <div class="span8" >
         <div class="row-fluid">
          <li ng-click="buttonClick(button)" ng-repeat="button in buttonArray | limitTo:3" class="btn span4"  >
          {{button.value}}
          </li>
        </div>
         <div class="row-fluid">
          <li  ng-click="buttonClick(button)" ng-repeat="button in buttonArray | startFrom:3 | limitTo:3" class="btn span4">
           {{button.value}}
          </li>
        </div>
         <div class="row-fluid">
          <li  ng-click="buttonClick(button)" ng-repeat="button in buttonArray | startFrom:6 | limitTo:3" class="btn span4" >
              {{button.value}}
          </li>
        </div>
           <div class="row-fluid">
          <li  ng-click="buttonClick(button)" ng-repeat="button in buttonArray | startFrom:9 | limitTo:3" class="btn span4" >
              {{button.value}}
          </li>
        </div>
        </div>
         <div class="span4">
             <div class="row-fluid">
          <li  ng-click="buttonClick(button)" ng-repeat="button in buttonArray | startFrom:12 | limitTo:2" class="btn span6" >
              {{button.value}}
          </li>
             </div>
           <div class="row-fluid">
          <li  ng-click="buttonClick(button)" ng-repeat="button in buttonArray | startFrom:14 | limitTo:2" class="btn span6" >
              {{button.value}}
          </li>
             </div>
             <div class="row-fluid">
          <li  ng-click="buttonClick(button)" ng-repeat="button in buttonArray | startFrom:16 | limitTo:2" class="btn span6" >
              {{button.value}}
          </li>
             </div>
         </div>

 </ul>
         </div>
 </div>


  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
 <script src="js/jquery-1.9.1.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/calController.js"></script>
  <script src="js/buttonModel.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
